<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pqdong.movie.recommend.mapper.CommentsMapper">

    <resultMap id="BaseResultMap" type="pqdong.movie.recommend.data.entity.Comments">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="movieId" column="movie_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="votes" column="votes" jdbcType="INTEGER"/>
            <result property="commentTime" column="comment_time" jdbcType="TIMESTAMP"/>
            <result property="userMd" column="user_md" jdbcType="VARCHAR"/>
            <result property="rating" column="rating" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,movie_id,content,
        votes,comment_time,user_id,
        rating,user_md
    </sql>
    <select id="selectCommentsByRating" resultType="pqdong.movie.recommend.data.entity.Comments">
        SELECT *
        FROM comments
        WHERE user_id IN (
            SELECT user_id
            FROM rating
            WHERE user_id IN (
                SELECT user_id
                FROM rating
                GROUP BY user_id
                HAVING COUNT(*) BETWEEN 10 AND 19
            ) AND rating > 3
        )
    </select>
</mapper>
