<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pqdong.movie.recommend.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="pqdong.movie.recommend.data.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="userAvatar" column="user_avatar" jdbcType="VARCHAR"/>
            <result property="userMd" column="user_md" jdbcType="VARCHAR"/>
            <result property="userNickname" column="user_nickname" jdbcType="VARCHAR"/>
            <result property="userTags" column="user_tags" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="motto" column="motto" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="userMd5" column="user_md5" jdbcType="VARCHAR"/>
            <result property="userRole" column="user_role" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,password,user_avatar,
        user_md,user_nickname,user_tags,
        phone,motto,sex,
        user_md5,user_role,create_time,
        update_time
    </sql>
</mapper>
